MAKE-Blueprint Exports/ChatbotIdEmail.json
{
    "name": "IdEmail",
    "flow": [
        {
            "id": 9,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 836688,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1600,
                    "y": -336
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "ChatIDemail"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text"
                    },
                    {
                        "name": "queryResult",
                        "spec": [
                            {
                                "name": "queryText",
                                "type": "text"
                            },
                            {
                                "name": "parameters",
                                "spec": [
                                    {
                                        "name": "ClientID",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "allRequiredParamsPresent",
                                "type": "boolean"
                            },
                            {
                                "name": "fulfillmentText",
                                "type": "text"
                            },
                            {
                                "name": "fulfillmentMessages",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "outputContexts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "parameters",
                                            "spec": [
                                                {
                                                    "name": "no-input",
                                                    "type": "number"
                                                },
                                                {
                                                    "name": "no-match",
                                                    "type": "number"
                                                },
                                                {
                                                    "name": "ClientID",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array"
                                                },
                                                {
                                                    "name": "ClientID.original",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array"
                                                },
                                                {
                                                    "name": "Email",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "Email.original",
                                                    "type": "text"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "intent",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "displayName",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "intentDetectionConfidence",
                                "type": "number"
                            },
                            {
                                "name": "languageCode",
                                "type": "text"
                            },
                            {
                                "name": "sentimentAnalysisResult",
                                "spec": [
                                    {
                                        "name": "queryTextSentiment",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number"
                                            },
                                            {
                                                "name": "magnitude",
                                                "type": "number"
                                            }
                                        ],
                                        "type": "collection"
                                    }
                                ],
                                "type": "collection"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "originalDetectIntentRequest",
                        "spec": [
                            {
                                "name": "source",
                                "type": "text"
                            },
                            {
                                "name": "payload",
                                "spec": [],
                                "type": "collection"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "session",
                        "type": "text"
                    },
                    {
                        "name": "alternativeQueryResults",
                        "spec": {
                            "spec": [
                                {
                                    "name": "queryText",
                                    "type": "text"
                                },
                                {
                                    "name": "languageCode",
                                    "type": "text"
                                },
                                {
                                    "name": "sentimentAnalysisResult",
                                    "spec": [
                                        {
                                            "name": "queryTextSentiment",
                                            "spec": [
                                                {
                                                    "name": "score",
                                                    "type": "number"
                                                },
                                                {
                                                    "name": "magnitude",
                                                    "type": "number"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -1279,
                    "y": -325
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 22,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 1665751
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{9.queryResult.parameters.ClientID}}",
                                    "1": "{{9.queryResult.parameters.Email}}"
                                },
                                "sheetId": "CustService",
                                "spreadsheetId": "/1Gv05_Sn42jrLNln2BVe6gwSfQgljNFXCGyCHhqZKdr0",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": -986,
                                    "y": -583
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Select by path"
                                        },
                                        "sheetId": {
                                            "label": "CustService"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Customer_Service_Sheet"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "CompanyID (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Email (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Date (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "(D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (teamapplesfhnw@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "CompanyID (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Email (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Date (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 23,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 1665751
                            },
                            "mapper": {
                                "from": "drive",
                                "filter": [
                                    [
                                        {
                                            "a": "C",
                                            "b": "{{9.queryResult.parameters.ClientID}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "sheetId": "FreeTrialLicenserequest",
                                "sortOrder": "asc",
                                "spreadsheetId": "1GL7cyOIZH_R4QY9TnLV4olNgDlOhc0lYtFe6KU0iX8w",
                                "tableFirstRow": "A1:CZ1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -950,
                                    "y": -306
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "orderBy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "FreeTrialLicenserequest"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Starting Form (Antworten)"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (teamapplesfhnw@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Enter a Spreadsheet ID and Sheet Name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "number",
                                        "label": "Maximum number of returned rows"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Enter a Spreadsheet ID and Sheet Name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "number",
                                        "label": "Maximum number of returned rows"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Zeitstempel (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "E-mail Address (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Client ID (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "You would like to have a free trial license? (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "Free Trial License Key (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "Expiration E-mail sent (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "Timestamp (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "(H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "(I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "(J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "(K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "(L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "(M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "(N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "(O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "(P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "(Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "(R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "(S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    },
                                    {
                                        "name": "26",
                                        "type": "text",
                                        "label": "(AA)"
                                    },
                                    {
                                        "name": "27",
                                        "type": "text",
                                        "label": "(AB)"
                                    },
                                    {
                                        "name": "28",
                                        "type": "text",
                                        "label": "(AC)"
                                    },
                                    {
                                        "name": "29",
                                        "type": "text",
                                        "label": "(AD)"
                                    },
                                    {
                                        "name": "30",
                                        "type": "text",
                                        "label": "(AE)"
                                    },
                                    {
                                        "name": "31",
                                        "type": "text",
                                        "label": "(AF)"
                                    },
                                    {
                                        "name": "32",
                                        "type": "text",
                                        "label": "(AG)"
                                    },
                                    {
                                        "name": "33",
                                        "type": "text",
                                        "label": "(AH)"
                                    },
                                    {
                                        "name": "34",
                                        "type": "text",
                                        "label": "(AI)"
                                    },
                                    {
                                        "name": "35",
                                        "type": "text",
                                        "label": "(AJ)"
                                    },
                                    {
                                        "name": "36",
                                        "type": "text",
                                        "label": "(AK)"
                                    },
                                    {
                                        "name": "37",
                                        "type": "text",
                                        "label": "(AL)"
                                    },
                                    {
                                        "name": "38",
                                        "type": "text",
                                        "label": "(AM)"
                                    },
                                    {
                                        "name": "39",
                                        "type": "text",
                                        "label": "(AN)"
                                    },
                                    {
                                        "name": "40",
                                        "type": "text",
                                        "label": "(AO)"
                                    },
                                    {
                                        "name": "41",
                                        "type": "text",
                                        "label": "(AP)"
                                    },
                                    {
                                        "name": "42",
                                        "type": "text",
                                        "label": "(AQ)"
                                    },
                                    {
                                        "name": "43",
                                        "type": "text",
                                        "label": "(AR)"
                                    },
                                    {
                                        "name": "44",
                                        "type": "text",
                                        "label": "(AS)"
                                    },
                                    {
                                        "name": "45",
                                        "type": "text",
                                        "label": "(AT)"
                                    },
                                    {
                                        "name": "46",
                                        "type": "text",
                                        "label": "(AU)"
                                    },
                                    {
                                        "name": "47",
                                        "type": "text",
                                        "label": "(AV)"
                                    },
                                    {
                                        "name": "48",
                                        "type": "text",
                                        "label": "(AW)"
                                    },
                                    {
                                        "name": "49",
                                        "type": "text",
                                        "label": "(AX)"
                                    },
                                    {
                                        "name": "50",
                                        "type": "text",
                                        "label": "(AY)"
                                    },
                                    {
                                        "name": "51",
                                        "type": "text",
                                        "label": "(AZ)"
                                    },
                                    {
                                        "name": "52",
                                        "type": "text",
                                        "label": "(BA)"
                                    },
                                    {
                                        "name": "53",
                                        "type": "text",
                                        "label": "(BB)"
                                    },
                                    {
                                        "name": "54",
                                        "type": "text",
                                        "label": "(BC)"
                                    },
                                    {
                                        "name": "55",
                                        "type": "text",
                                        "label": "(BD)"
                                    },
                                    {
                                        "name": "56",
                                        "type": "text",
                                        "label": "(BE)"
                                    },
                                    {
                                        "name": "57",
                                        "type": "text",
                                        "label": "(BF)"
                                    },
                                    {
                                        "name": "58",
                                        "type": "text",
                                        "label": "(BG)"
                                    },
                                    {
                                        "name": "59",
                                        "type": "text",
                                        "label": "(BH)"
                                    },
                                    {
                                        "name": "60",
                                        "type": "text",
                                        "label": "(BI)"
                                    },
                                    {
                                        "name": "61",
                                        "type": "text",
                                        "label": "(BJ)"
                                    },
                                    {
                                        "name": "62",
                                        "type": "text",
                                        "label": "(BK)"
                                    },
                                    {
                                        "name": "63",
                                        "type": "text",
                                        "label": "(BL)"
                                    },
                                    {
                                        "name": "64",
                                        "type": "text",
                                        "label": "(BM)"
                                    },
                                    {
                                        "name": "65",
                                        "type": "text",
                                        "label": "(BN)"
                                    },
                                    {
                                        "name": "66",
                                        "type": "text",
                                        "label": "(BO)"
                                    },
                                    {
                                        "name": "67",
                                        "type": "text",
                                        "label": "(BP)"
                                    },
                                    {
                                        "name": "68",
                                        "type": "text",
                                        "label": "(BQ)"
                                    },
                                    {
                                        "name": "69",
                                        "type": "text",
                                        "label": "(BR)"
                                    },
                                    {
                                        "name": "70",
                                        "type": "text",
                                        "label": "(BS)"
                                    },
                                    {
                                        "name": "71",
                                        "type": "text",
                                        "label": "(BT)"
                                    },
                                    {
                                        "name": "72",
                                        "type": "text",
                                        "label": "(BU)"
                                    },
                                    {
                                        "name": "73",
                                        "type": "text",
                                        "label": "(BV)"
                                    },
                                    {
                                        "name": "74",
                                        "type": "text",
                                        "label": "(BW)"
                                    },
                                    {
                                        "name": "75",
                                        "type": "text",
                                        "label": "(BX)"
                                    },
                                    {
                                        "name": "76",
                                        "type": "text",
                                        "label": "(BY)"
                                    },
                                    {
                                        "name": "77",
                                        "type": "text",
                                        "label": "(BZ)"
                                    },
                                    {
                                        "name": "78",
                                        "type": "text",
                                        "label": "(CA)"
                                    },
                                    {
                                        "name": "79",
                                        "type": "text",
                                        "label": "(CB)"
                                    },
                                    {
                                        "name": "80",
                                        "type": "text",
                                        "label": "(CC)"
                                    },
                                    {
                                        "name": "81",
                                        "type": "text",
                                        "label": "(CD)"
                                    },
                                    {
                                        "name": "82",
                                        "type": "text",
                                        "label": "(CE)"
                                    },
                                    {
                                        "name": "83",
                                        "type": "text",
                                        "label": "(CF)"
                                    },
                                    {
                                        "name": "84",
                                        "type": "text",
                                        "label": "(CG)"
                                    },
                                    {
                                        "name": "85",
                                        "type": "text",
                                        "label": "(CH)"
                                    },
                                    {
                                        "name": "86",
                                        "type": "text",
                                        "label": "(CI)"
                                    },
                                    {
                                        "name": "87",
                                        "type": "text",
                                        "label": "(CJ)"
                                    },
                                    {
                                        "name": "88",
                                        "type": "text",
                                        "label": "(CK)"
                                    },
                                    {
                                        "name": "89",
                                        "type": "text",
                                        "label": "(CL)"
                                    },
                                    {
                                        "name": "90",
                                        "type": "text",
                                        "label": "(CM)"
                                    },
                                    {
                                        "name": "91",
                                        "type": "text",
                                        "label": "(CN)"
                                    },
                                    {
                                        "name": "92",
                                        "type": "text",
                                        "label": "(CO)"
                                    },
                                    {
                                        "name": "93",
                                        "type": "text",
                                        "label": "(CP)"
                                    },
                                    {
                                        "name": "94",
                                        "type": "text",
                                        "label": "(CQ)"
                                    },
                                    {
                                        "name": "95",
                                        "type": "text",
                                        "label": "(CR)"
                                    },
                                    {
                                        "name": "96",
                                        "type": "text",
                                        "label": "(CS)"
                                    },
                                    {
                                        "name": "97",
                                        "type": "text",
                                        "label": "(CT)"
                                    },
                                    {
                                        "name": "98",
                                        "type": "text",
                                        "label": "(CU)"
                                    },
                                    {
                                        "name": "99",
                                        "type": "text",
                                        "label": "(CV)"
                                    },
                                    {
                                        "name": "100",
                                        "type": "text",
                                        "label": "(CW)"
                                    },
                                    {
                                        "name": "101",
                                        "type": "text",
                                        "label": "(CX)"
                                    },
                                    {
                                        "name": "102",
                                        "type": "text",
                                        "label": "(CY)"
                                    },
                                    {
                                        "name": "103",
                                        "type": "text",
                                        "label": "(CZ)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 24,
                            "module": "google-cloud-dialogflow:responseFulfillment",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "source": "{{9.queryResult.parameters.ClientID}}",
                                "followupEventInput": {},
                                "fulfillmentMessages": [
                                    {
                                        "text": [
                                            "Sure, here's your trial License:",
                                            "{{23.`4`}}",
                                            "Is there anything else I can help you with?"
                                        ],
                                        "type": "text"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": -650,
                                    "y": -306
                                },
                                "restore": {
                                    "expect": {
                                        "payload": {
                                            "mode": "chose"
                                        },
                                        "outputContexts": {
                                            "mode": "chose"
                                        },
                                        "followupEventInput": {
                                            "nested": {
                                                "parameters": {
                                                    "mode": "chose"
                                                }
                                            },
                                            "collapsed": true
                                        },
                                        "sessionEntityTypes": {
                                            "mode": "chose"
                                        },
                                        "fulfillmentMessages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "text": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null,
                                                            null,
                                                            null
                                                        ]
                                                    },
                                                    "type": {
                                                        "mode": "chose",
                                                        "label": "Text"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "fulfillmentMessages",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type of Fulfillment Message",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "text",
                                                                "spec": {
                                                                    "type": "text",
                                                                    "required": true
                                                                },
                                                                "type": "array",
                                                                "label": "Text",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Image",
                                                        "value": "image",
                                                        "nested": [
                                                            {
                                                                "name": "imageUri",
                                                                "type": "url",
                                                                "label": "Image URI",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "accessibilityText",
                                                                "type": "text",
                                                                "label": "Accessibility Text"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Quick Replies",
                                                        "value": "quickReplies",
                                                        "nested": [
                                                            {
                                                                "name": "title",
                                                                "type": "text",
                                                                "label": "Title"
                                                            },
                                                            {
                                                                "name": "quickReplies",
                                                                "spec": {
                                                                    "type": "text",
                                                                    "label": "Quick Reply"
                                                                },
                                                                "type": "array",
                                                                "label": "Quick Replies"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Card",
                                                        "value": "card",
                                                        "nested": [
                                                            {
                                                                "name": "title",
                                                                "type": "text",
                                                                "label": "Title"
                                                            },
                                                            {
                                                                "name": "subtitle",
                                                                "type": "text",
                                                                "label": "Subtitle"
                                                            },
                                                            {
                                                                "name": "imageUri",
                                                                "type": "url",
                                                                "label": "Image URI"
                                                            },
                                                            {
                                                                "name": "buttons",
                                                                "spec": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text"
                                                                    },
                                                                    {
                                                                        "name": "postback",
                                                                        "type": "text",
                                                                        "label": "Postback"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Buttons"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Payload",
                                                        "value": "payload",
                                                        "nested": [
                                                            {
                                                                "name": "payload",
                                                                "spec": [
                                                                    {
                                                                        "name": "key",
                                                                        "type": "text",
                                                                        "label": "Key",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "any",
                                                                        "label": "Value",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Payload",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Simple Responses",
                                                        "value": "simpleResponses",
                                                        "nested": [
                                                            {
                                                                "name": "simpleResponses",
                                                                "spec": [
                                                                    {
                                                                        "help": "One of textToSpeech or ssml must be provided. The plain text of the speech output. Mutually exclusive with ssml.",
                                                                        "name": "textToSpeech",
                                                                        "type": "text",
                                                                        "label": "Text To Speech"
                                                                    },
                                                                    {
                                                                        "help": "One of textToSpeech or ssml must be provided. Structured spoken response to the user in the SSML format. Mutually exclusive with textToSpeech.",
                                                                        "name": "ssml",
                                                                        "type": "text",
                                                                        "label": "SSML"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Simple Responses",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Basic Card",
                                                        "value": "basicCard",
                                                        "nested": [
                                                            {
                                                                "name": "title",
                                                                "type": "text",
                                                                "label": "Title"
                                                            },
                                                            {
                                                                "name": "subtitle",
                                                                "type": "text",
                                                                "label": "Subtitle"
                                                            },
                                                            {
                                                                "help": "Required, unless image is present. The body text of the card.",
                                                                "name": "formattedText",
                                                                "type": "text",
                                                                "label": "Formatted Text"
                                                            },
                                                            {
                                                                "name": "image",
                                                                "spec": [
                                                                    {
                                                                        "name": "imageUri",
                                                                        "type": "url",
                                                                        "label": "Image URI"
                                                                    },
                                                                    {
                                                                        "name": "accessibilityText",
                                                                        "type": "text",
                                                                        "label": "Accessibility Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Image"
                                                            },
                                                            {
                                                                "name": "buttons",
                                                                "spec": [
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title"
                                                                    },
                                                                    {
                                                                        "name": "openUriAction",
                                                                        "spec": [
                                                                            {
                                                                                "name": "uri",
                                                                                "type": "url",
                                                                                "label": "URI"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Open URI Action"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Buttons"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Suggestions",
                                                        "value": "suggestions",
                                                        "nested": [
                                                            {
                                                                "name": "suggestions",
                                                                "spec": [
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Suggestions",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Link Out Suggestion",
                                                        "value": "linkOutSuggestion",
                                                        "nested": [
                                                            {
                                                                "name": "destinationName",
                                                                "type": "text",
                                                                "label": "Destination Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "uri",
                                                                "type": "url",
                                                                "label": "URI",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "List Select",
                                                        "value": "listSelect",
                                                        "nested": [
                                                            {
                                                                "name": "title",
                                                                "type": "text",
                                                                "label": "Title"
                                                            },
                                                            {
                                                                "name": "items",
                                                                "spec": [
                                                                    {
                                                                        "name": "info",
                                                                        "spec": [
                                                                            {
                                                                                "name": "key",
                                                                                "type": "text",
                                                                                "label": "Key",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "synonyms",
                                                                                "spec": {
                                                                                    "type": "text"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Synonyms"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Info",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "description",
                                                                        "type": "text",
                                                                        "label": "Description"
                                                                    },
                                                                    {
                                                                        "name": "image",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageUri",
                                                                                "type": "url",
                                                                                "label": "Image URI"
                                                                            },
                                                                            {
                                                                                "name": "accessibilityText",
                                                                                "type": "text",
                                                                                "label": "Accessibility Text"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Items",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "subtitle",
                                                                "type": "text",
                                                                "label": "Subtitle"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Carousel Select",
                                                        "value": "carouselSelect",
                                                        "nested": [
                                                            {
                                                                "name": "items",
                                                                "spec": [
                                                                    {
                                                                        "name": "info",
                                                                        "spec": [
                                                                            {
                                                                                "name": "key",
                                                                                "type": "text",
                                                                                "label": "Key",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "synonyms",
                                                                                "spec": {
                                                                                    "type": "text"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Synonyms"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Info",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "description",
                                                                        "type": "text",
                                                                        "label": "Description"
                                                                    },
                                                                    {
                                                                        "name": "image",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageUri",
                                                                                "type": "url",
                                                                                "label": "Image URI"
                                                                            },
                                                                            {
                                                                                "name": "accessibilityText",
                                                                                "type": "text",
                                                                                "label": "Accessibility Text"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Items",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Browse Carousel Card",
                                                        "value": "browseCarouselCard",
                                                        "nested": [
                                                            {
                                                                "name": "items",
                                                                "spec": [
                                                                    {
                                                                        "name": "openUriAction",
                                                                        "spec": [
                                                                            {
                                                                                "name": "url",
                                                                                "type": "text",
                                                                                "label": "URL",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "urlTypeHint",
                                                                                "type": "select",
                                                                                "label": "URL Type Hint",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "URL_TYPE_HINT_UNSPECIFIED",
                                                                                        "value": "URL_TYPE_HINT_UNSPECIFIED"
                                                                                    },
                                                                                    {
                                                                                        "label": "AMP_ACTION",
                                                                                        "value": "AMP_ACTION"
                                                                                    },
                                                                                    {
                                                                                        "label": "AMP_CONTENT",
                                                                                        "value": "AMP_CONTENT"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Open URI Action",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "description",
                                                                        "type": "text",
                                                                        "label": "Description"
                                                                    },
                                                                    {
                                                                        "name": "image",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageUri",
                                                                                "type": "url",
                                                                                "label": "Image URI"
                                                                            },
                                                                            {
                                                                                "name": "accessibilityText",
                                                                                "type": "text",
                                                                                "label": "Accessibility Text"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    },
                                                                    {
                                                                        "name": "footer",
                                                                        "type": "text",
                                                                        "label": "Footer"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Items",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "imageDisplayOptions",
                                                                "type": "select",
                                                                "label": "Image Display Options",
                                                                "options": [
                                                                    {
                                                                        "label": "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
                                                                        "value": "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED"
                                                                    },
                                                                    {
                                                                        "label": "GRAY",
                                                                        "value": "GRAY"
                                                                    },
                                                                    {
                                                                        "label": "WHITE",
                                                                        "value": "WHITE"
                                                                    },
                                                                    {
                                                                        "label": "CROPPED",
                                                                        "value": "CROPPED"
                                                                    },
                                                                    {
                                                                        "label": "BLURRED_BACKGROUND",
                                                                        "value": "BLURRED_BACKGROUND"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Table Card",
                                                        "value": "tableCard",
                                                        "nested": [
                                                            {
                                                                "name": "title",
                                                                "type": "text",
                                                                "label": "Title",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "subtitle",
                                                                "type": "text",
                                                                "label": "Subtitle"
                                                            },
                                                            {
                                                                "name": "image",
                                                                "spec": [
                                                                    {
                                                                        "name": "imageUri",
                                                                        "type": "url",
                                                                        "label": "Image URI"
                                                                    },
                                                                    {
                                                                        "name": "accessibilityText",
                                                                        "type": "text",
                                                                        "label": "Accessibility Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Image"
                                                            },
                                                            {
                                                                "name": "columnProperties",
                                                                "spec": [
                                                                    {
                                                                        "name": "header",
                                                                        "type": "text",
                                                                        "label": "Header",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "horizontalAlignment",
                                                                        "type": "select",
                                                                        "label": "Horizontal Alignment",
                                                                        "options": [
                                                                            {
                                                                                "label": "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
                                                                                "value": "HORIZONTAL_ALIGNMENT_UNSPECIFIED"
                                                                            },
                                                                            {
                                                                                "label": "LEADING",
                                                                                "value": "LEADING"
                                                                            },
                                                                            {
                                                                                "label": "CENTER",
                                                                                "value": "CENTER"
                                                                            },
                                                                            {
                                                                                "label": "TRAILING",
                                                                                "value": "TRAILING"
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Column Properties"
                                                            },
                                                            {
                                                                "name": "rows",
                                                                "spec": [
                                                                    {
                                                                        "name": "cells",
                                                                        "spec": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Cells"
                                                                    },
                                                                    {
                                                                        "name": "dividerAfter",
                                                                        "type": "boolean",
                                                                        "label": "Divider After",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Rows"
                                                            },
                                                            {
                                                                "name": "buttons",
                                                                "spec": [
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "openUriAction",
                                                                        "spec": [
                                                                            {
                                                                                "name": "uri",
                                                                                "type": "url",
                                                                                "label": "URI",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Open URI Action",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Buttons"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Media Content",
                                                        "value": "mediaContent",
                                                        "nested": [
                                                            {
                                                                "name": "mediaType",
                                                                "type": "select",
                                                                "label": "Media Type",
                                                                "options": [
                                                                    {
                                                                        "label": "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
                                                                        "value": "RESPONSE_MEDIA_TYPE_UNSPECIFIED"
                                                                    },
                                                                    {
                                                                        "label": "AUDIO",
                                                                        "value": "AUDIO"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "mediaObjects",
                                                                "spec": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Name",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "description",
                                                                        "type": "text",
                                                                        "label": "Description"
                                                                    },
                                                                    {
                                                                        "name": "contentUrl",
                                                                        "type": "url",
                                                                        "label": "Content URL",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "imageType",
                                                                        "type": "select",
                                                                        "label": "Image Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "Large Image",
                                                                                "value": "largeImage",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "largeImage",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "imageUri",
                                                                                                "type": "url",
                                                                                                "label": "Image URI",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "accessibilityText",
                                                                                                "type": "text",
                                                                                                "label": "Accessibility Text"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Large Image"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Icon",
                                                                                "value": "icon",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "icon",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "imageUri",
                                                                                                "type": "url",
                                                                                                "label": "Image URI",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "accessibilityText",
                                                                                                "type": "text",
                                                                                                "label": "Accessibility Text"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Icon"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Media Objects",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Fulfillment Messages"
                                    },
                                    {
                                        "name": "source",
                                        "type": "text",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "payload",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Payload"
                                    },
                                    {
                                        "name": "outputContexts",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "lifespanCount",
                                                "type": "uinteger",
                                                "label": "Lifespan Count"
                                            },
                                            {
                                                "name": "parameters",
                                                "spec": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Value",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parameters"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Output Contexts"
                                    },
                                    {
                                        "name": "followupEventInput",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "languageCode",
                                                "type": "text",
                                                "label": "Language Code"
                                            },
                                            {
                                                "name": "parameters",
                                                "spec": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Value",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parameters"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Followup Event Input"
                                    },
                                    {
                                        "name": "sessionEntityTypes",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "entityOverrideMode",
                                                "type": "select",
                                                "label": "Entity Override Mode",
                                                "options": [
                                                    {
                                                        "label": "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
                                                        "value": "ENTITY_OVERRIDE_MODE_UNSPECIFIED"
                                                    },
                                                    {
                                                        "label": "ENTITY_OVERRIDE_MODE_OVERRIDE",
                                                        "value": "ENTITY_OVERRIDE_MODE_OVERRIDE"
                                                    },
                                                    {
                                                        "label": "ENTITY_OVERRIDE_MODE_SUPPLEMENT",
                                                        "value": "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "entities",
                                                "spec": [
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "synonyms",
                                                        "spec": {
                                                            "type": "text"
                                                        },
                                                        "type": "array",
                                                        "label": "Synonyms",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Entities",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Session Entity Types"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 25,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch all",
                                        "conditions": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": -350,
                                            "y": -306
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}